.page-consent .client-logo {
    float: left;
}

.page-consent .client-logo img {
    width: 80px;
    height: 80px;
}

.page-consent .consent-buttons {
    margin-top: 25px;
}

.page-consent .consent-form .consent-scopecheck {
    display: inline-block;
    margin-right: 5px;
}

.page-consent .consent-form .consent-description {
    margin-left: 25px;
}

    .page-consent .consent-form .consent-description label {
        font-weight: normal;
    }

.page-consent .consent-form .consent-remember {
    padding-left: 16px;
}

.body-content {
    padding-left: 15px;
    padding-right: 15px;
}