@page

@using Microsoft.AspNetCore.Http;

@inject Microsoft.AspNetCore.Hosting.IHostingEnvironment env;

@{
    Layout = "packages/CRMCore.Theme/Views/_Layout";
}


<div class="row">
    <div class="col-md-8">
		<section>
			 <form method="post" class="form-horizontal">
                <h4></h4>
                <hr />
                <div asp-validation-summary="All" class="text-danger"></div>
                <div class="form-group">
                    <label class="col-md-3 control-label"></label>
                    <div class="col-md-9">
                        <input class="form-control" autofocus />
                        <span  class="text-danger"></span>
                    </div>
                </div>
			</form>
		</section>
	</div>
</div>