
 <table class="table table-bordered table-striped table-sm">
    <thead>
        <tr>    
            <th><i class="fa fa-text-width fa-2x" aria-hidden="true"></i>Title</th>
            <th><i class="fa fa-paragraph fa-2x" aria-hidden="true"></i>Description</th>
            <th>Option</th>             
        </tr>
    </thead>
    <tbody>             
        <tr (dblclick)="editPost(post)" *ngFor="let post of posts | filter : searchTerm">
             <ng-container *ngIf="!editPosts.includes(post); else editTD">
                <td>{{post.title}}</td>
                 <td>{{post.description}}</td>    
            </ng-container>

             <ng-template #editTD>
                <td><input type="text" name="title" id="title"  [(ngModel)]="post.title" placeholder="Title" class="form-control"></td>
                <td><input type="text" name="description" id="description"  [(ngModel)]="post.description" placeholder="Description" class="form-control"></td>              
            </ng-template>

                     
            <td class="o">  
                <button class="btn btn-primary" (click)="viewPost(post)">Detail
                        <i class="fa fa-info-circle" aria-hidden="true"></i>
                </button>  

               
                <button class="btn btn-primary" (click)="editPost(post)"> 
                   
                    <ng-container *ngIf="!editPosts.includes(post); else editTemplate">
                         Edit
                        <i  class="fa fa-pencil"></i>
                     </ng-container>  

                     <ng-template #editTemplate>
                        Submit
                        <i class="fa fa-dot-circle-o"></i>
                    </ng-template>

                </button>
                <button class="btn btn-danger" (click)="deletePost(post)">Delete
                        <i  class="fa fa-trash"></i>
                </button>
            </td>
        </tr>           
    </tbody>
    <tfoot>
        <tr>
            <td colspan="3" style="padding-left:75%">
                     <button class="btn btn-primary" (click)="handlePost()">
                         {{toggleAddPost ? 'Cancel' : 'New' }}  <i class="fa fa-edit fa-lg " aria-hidden="true"></i>                        
                    </button>                          
            </td>

         
        </tr>
         
    </tfoot>
</table>   

<add-post [toggleAddPost]= toggleAddPost (postCreatedEvent) ="postCreatedListen($event)"></add-post>

