<div class="form-group row">
              <div class="col-md-12">
                <div class="input-group">
                  <span class="input-group-btn">
                    <button type="button" class="btn btn-primary" (click) ="search(searchTerm)"><i class="fa fa-search"></i> Search</button>
                  </span>
                  <input type="text" id="search" [(ngModel)]="searchTerm" (keyup.enter)="search(searchTerm)" class="form-control" placeholder="Title">
                </div>
              </div>
</div>