.crm-core .form-control{
    border-left-width: 4px;
}

.crm-core .form-control:focus{
    box-shadow: none;
}

.crm-core .form-control.valid {
    border-left-color: green;
}

.crm-core .form-control.input-validation-error {
    border-left-color: red !important;
}

.page-consent .client-logo {
    float: left;
}

    .page-consent .client-logo img {
        width: 80px;
        height: 80px;
    }

.page-consent .consent-buttons {
    margin-top: 25px;
}

.page-consent .consent-form .consent-scopecheck {
    display: inline-block;
    margin-right: 5px;
}

.page-consent .consent-form .consent-description {
    margin-left: 25px;
}

    .page-consent .consent-form .consent-description label {
        font-weight: normal;
    }

.page-consent .consent-form .consent-remember {
    padding-left: 16px;
}