// Here you can add other styles

.b-panel {
  position: relative;
  clear: both;

  .b-panel-title {
    font-size: 1.5em;
    height: 15px;

    .b-icon {
      margin-right: 5px;
    }
  }

  .b-panel-actions {
    position: absolute;
    top: 3px;
    right: 0px;
    margin: 11px;

    .b-icon {
      margin-right: 3px;
      margin-top: -4px;
    }
  }
}

.b-panel-fullscreen {
  display: block;
  z-index: 9999;
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  overflow: auto;
}

.b-form {
  position: relative !important;
  .b-form-feedback {
    display: inline-block !important;
    position: relative !important;
    width: auto;
    color: #f00;
  }
}

.b-panel-margin-down {
  margin-top: 1rem;
}
