// Here you can add other styles

.b-panel {
  position: relative;

  .b-panel-title {
    font-size: 1.5em;
    height: 15px;

    .b-icon {
      margin-right: 5px;
    }
  }

  .b-panel-actions {
    position: absolute;
    top: 3px;
    right: 0px;
    margin: 11px;

    .b-icon {
      margin-right: 3px;
      margin-top: -4px;
    }
  }
}

.b-form {
  position: relative !important;
  .b-form-feedback {
    display: inline-block !important;
    position: relative !important;
    width: auto;
    color: #f00;
  }
}

.b-panel-margin-down {
  margin-top: 1rem
}